@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
:root{
    --softRed:hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --darkDesaturatedCyan: hsl(167, 40%, 24%);
    --darkBlue: hsl(198, 62%, 26%);
    --darkModerateCyan: hsl(168, 34%, 41%);
    --VeryDarkdesaturatedblue: hsl(212, 27%, 19%);
    --VerydarkGrayishBlue: hsl(213, 9%, 39%);
    --DarkgrayishBlue: hsl(232, 10%, 55%);
    --GrayishBlue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}
body{
    margin:0px;
    
}
header{
    background-color:#3ebfff;
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 20% 80%;
    
}
#logo{
    margin-top:7%;
    margin-left:7%;
}
nav ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: right;  
    margin-right:5%;  
}
nav ul li{
    padding-right:5%;
    color:white;
    font-family:Fraunces;
    font-size: 20px;
    padding:10px 20px 10px 20px;
    cursor:pointer;
   
}
#contactButton{
    background-color: #90d4c5;
    height:auto;
    border-radius: 49%;
    color:white;
    font-family:Fraunces;
    font-size: 20px;
    border-style: none;
    padding:10px 30px 10px 30px;
    cursor:pointer;     
}
#contactButton:hover{
    background-color: white;
    color:black;
}
#section1{
    background-color:#3ebfff;
    background-image:url(images/desktop/image-header.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    text-align: center;
    height:500px 
    
     
}
#section1 h2{
    z-index:99;
    margin:0px;
    color:white;
    font-family:Fraunces;
    font-weight: 700;
    font-size:30px;
    letter-spacing: 5px;
    padding-top:5%;

}
#arrow-down{
    z-index:99;
    width:30px;
    padding-top:6%;
    
}
.section2{
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;

}
.box{
    margin-left:10rem;
    margin-top:15%;
    margin-right:15rem;
}
.title{
    font-family:Fraunces;
    color:var(--VeryDarkdesaturatedblue);
    font-weight: 700;
    font-size: 35px;
}
.text{
    font-family:Barlom;
    color:var(--DarkgrayishBlue);
    font-weight: bold;
    font-size: 20px; 
}
button{
    color:var(--VeryDarkdesaturatedblue);
    font-family:Fraunces;
    font-size:18px;
    background: none;
    border: none;
    border-radius: 10px;;
    box-shadow: 10px 5px 5px var(--yellow);
    cursor:pointer
}
button:hover{
    background-color: var(--softRed);
} 
.ImagesPattern{
    width:100%;
    height:100%;
}
#sectionCherry{
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
} 
#sectionTorange{
    background-image: url(images/desktop/image-photography.jpg);
} 
#tsection{
    height:30rem;
    text-align: center;
}
#centralTitle{
    color:var(--darkDesaturatedCyan);
    font-weight: 700;
    font-size: 30px;
    padding-top:45%;
    

}
#centralText{
    font-family:Barlom;
    color:var(--darkDesaturatedCyan);
    font-weight: normal;
    font-size: 20px;
    padding-right: 20%;
    padding-LEFt: 20%;
}
#testimonials{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-top:150px;
    padding-bottom:150px;
}
#OursClients{
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 33% 33% 33%;
    margin-left:10%;
    margin-right:10%;
}
#clientsTitle{
    font-family:Fraunces;
    color:var(--DarkgrayishBlue);
    font-size:30px;
    font-weight: bold;
    letter-spacing: 5px;
}
.costumerPhoto{
    border-radius: 50%;
    scale:50%;
}
.mainText{
    font-family:Barlom;
    color:var(--VerydarkGrayishBlue);
    font-weight:bold;
    margin-bottom:40px;
}
.name{
    font-family:Fraunces;
    color:var(--VeryDarkdesaturatedblue);
    font-weight: 900;
    margin-bottom: 5px;
}
.profession{
    font-family:Barlom;
    color:var(--GrayishBlue);
    margin-top:2px;

}
.costumer{
    padding-left:10%;
}
#OnlyPhotosSection{
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    text-align: center;
}
#OnlyPhotosSection img{
    width:100%;
    height:100%; /*Dessa forma a imagem ocupa toda a largura e altura da div*/
}
footer{
    background-color:#90d4c5;
    text-align: center;
    padding-top:5%;
}
footer img{
    color:var(--darkModerateCyan);
}
footer ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-left:0px;
    padding-top:2rem;
}
footer ul li{
    color:var(--darkModerateCyan);
    font-size: 20px;
    font-weight: bold;
    padding-left:3%;
    padding-right:3%;
    padding-bottom: 5rem;
}
#icons img{
    padding-left:1%;
    padding-right:1%;
    padding-bottom:4rem;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 375px) {
    
}